body {
	background: #141414;
	color: #ffffff;
}
.movie-list {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.movie-list {
  
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.image-container{
  position: relative;
  transition: transform 0.2s;
  border-radius: 20px;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}
h3{
  color: red;
}
p{
  color: gray;
}

h1{
  color: red;
 
}
svg{
  color: gold;
}
.filter{
  display: flex;
  justify-content: end;
   padding-right: 20px;
   padding-top: 0px;

}
input{
  width: 150px;
height: 20px;
border-radius: 5px;

}
